@font-face {
  font-family: AvenirLTStdRoman;
  src: url("../font/AvenirLTStdRoman.otf") format("opentype"),
    url("../font/AvenirLTStdRoman.woff2") format("woff2");
}

@font-face {
  font-family: AvenirLTStdMedium;
  src: url("../font/AvenirLTStdMedium.otf") format("opentype"),
    url("../font/AvenirLTStdMedium.woff2") format("woff2");
}

@font-face {
  font-family: AvenirLTStdHeavy;
  src: url("../font/AvenirLTStdHeavy.otf") format("opentype"),
    url("../font/AvenirLTStdHeavy.woff2") format("woff2");
}

@font-face {
  font-family: AvenirLTStdBlack;
  src: url("../font/AvenirLTStdBlack.otf") format("opentype"),
    url("../font/AvenirLTStdBlack.woff2") format("woff2");
}

$btn-font-family: AvenirLTStdHeavy;

.fw-roman {
  font-family: AvenirLTStdRoman;
}

.fw-medium {
  font-family: AvenirLTStdMedium;
}

.fw-bold {
  font-family: AvenirLTStdHeavy;
}

.fw-black {
  font-family: AvenirLTStdBlack;
}

.btn {
  font-family: $btn-font-family;
  &.btn-primary {
    color: white;
  }
}

header {
  position: sticky !important;
  top: 0;
  background-color: white;
  box-shadow: 0px 4px 25px #ddfff6;
  position: relative;
  z-index: 4;
  .navbar-nav {
    .nav-item {
      padding: 24px 18px;
      .nav-link {
        border-bottom: 5px solid transparent;
        &.active {
          font-family: AvenirLTStdBlack;
          border-bottom-color: $accent;
        }
      }
    }
  }
}

.home {
  min-height: 707px;
  padding: 0 135px;
  background-image: url("../images/home/half_circle.svg"),
    url("../images/home/rect.png"), url("../images/home/rect.png"),
    url("../images/home/percentage.png"), url("../images/home/arrow.png"),
    url("../images/home/main.svg");
  background-size: 139px 279px, 283px 522px, 283px 522px, 50px 119px,
    234px 180px, cover;
  background-position: top left -30px, left 189px top, bottom 83px right 63px,
    bottom 40% left 40%, top 26px right 6px, center;
  background-repeat: no-repeat;
  .box {
    min-height: 707px;
    position: relative;
    .text-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      h1 {
        font-size: 32px;
        letter-spacing: 0.17em;
        font-family: AvenirLTStdBlack;
        color: #5f5f5e;
        margin-bottom: 33px;
        position: relative;
        span {
          display: block;
          text-transform: uppercase;
        }
        &::before {
          position: absolute;
          content: "";
          border-bottom: 5px solid $primary;
          width: 137px;
          bottom: -12px;
        }
      }
      h2 {
        font-size: 24px;
        color: #5f5f5e;
        margin-bottom: 44px;
      }
    }
  }
}

.faqs {
  background-color: #ddfff6;
  overflow: hidden;
}

.video {
  padding: 90px 90px 0;
  background-image: url("../images/home/arrow_left.png"),
    url("../images/home/percentage.png");
  background-repeat: no-repeat;
  background-size: 131px 276px, 50px 119px;
  background-position: right bottom, center;
  .title {
    font-size: 32px;
    color: #5f5f5e;
    font-family: AvenirLTStdBlack;
  }
  .poster-video-container {
    position: relative;
    video {
      position: relative;
      z-index: 3;
      width: 100%;
      height: auto;
    }
    &::before {
      position: absolute;
      content: "";
      z-index: 2;
      background-image: url("../images/half_circle_left.svg");
      background-repeat: no-repeat;
      background-size: 279px 279px;
      width: 279px;
      height: 279px;
      left: -50%;
      top: -50%;
      transform: translate(50%, 100%);
    }
  }
}

.earn {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/home/percentage.png");
  background-repeat: no-repeat;
  background-position: left 6px top 20%;
  .title {
    font-size: 32px;
    font-family: AvenirLTStdBlack;
    color: #5f5f5e;
    text-align: center;
    margin-bottom: 32px;
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 25px;
    background: #ddfff6;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-bottom: 44px;
    &:hover {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      background: $accent;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $accent;
      cursor: pointer;
    }
  }
  .sub-type {
    display: flex;
    align-items: center;
    justify-content: center;
    p,
    button,
    .dropdown-item {
      font-size: 32px;
      color: black;
      margin-bottom: 0;
      font-family: AvenirLTStd;
      padding: 13px 34px;
      border-radius: 50px;
    }
    button {
      padding: 10px 44px;
      border-radius: 50px;
      background-color: #ddfff6;
      border-color: #ddfff6;
      margin-left: 12px;
    }
    .dropdown-menu {
      border-radius: 50px;
      background-color: #ddfff6;
      border-color: $accent;
    }
  }
  .divider {
    height: 90px;
  }
  .box {
    text-align: center;
    .money {
      font-size: 32px;
      color: black;
      margin-bottom: 12px;
      font-family: AvenirLTStdRoman;
    }
    .duration {
      font-size: 15px;
      font-family: AvenirLTStd;
    }
  }
}

.stay-informed {
  padding-top: 62px;
  padding-bottom: 46px;
  .box {
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 56px 114px;
    @media screen and (max-width: 768px){
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .title {
      font-size: 32px;
      font-family: AvenirLTStdBlack;
      margin-bottom: 24px;
      color: #5f5f5e;
    }
    .info {
      color: #5f5f5e;
      margin-bottom: 33px;
    }
    .links {
      display: flex;
      align-items: center;
      a {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 98px;
        }
        img {
          max-height: 44px;
          max-width: 44px;
          object-fit: contain;
          object-position: center;
        }
      }
    }
    .my-input {
      font-size: 20px;
      padding: 24px 32px;
      border-radius: 50px;
      display: block;
      background-color: white;
      border: none;
      width: 100%;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
    button[type="submit"] {
      min-width: 264px;
    }
  }
}

footer {
  padding: 1.5rem 0;
  background-color: $secondary;
  @media screen and (min-width: 1366px) {
    padding: 70px 60px;
  }
  * {
    color: white;
  }
  .title {
    margin-bottom: 20px;
    font-family: AvenirLTStdBlack;
  }
  ul {
    > li {
      padding: 12px 0;
      a {
        text-decoration: none;
      }
    }
  }
  .social{
    padding-top: 12px;
  }
}

@media screen and (max-width: 768px){
  section{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}