@font-face {
  font-family: AvenirLTStdRoman;
  src: url("../font/AvenirLTStdRoman.otf") format("opentype"),
    url("../font/AvenirLTStdRoman.woff2") format("woff2");
}

@font-face {
  font-family: AvenirLTStdMedium;
  src: url("../font/AvenirLTStdMedium.otf") format("opentype"),
    url("../font/AvenirLTStdMedium.woff2") format("woff2");
}

@font-face {
  font-family: AvenirLTStdHeavy;
  src: url("../font/AvenirLTStdHeavy.otf") format("opentype"),
    url("../font/AvenirLTStdHeavy.woff2") format("woff2");
}

@font-face {
  font-family: AvenirLTStdBlack;
  src: url("../font/AvenirLTStdBlack.otf") format("opentype"),
    url("../font/AvenirLTStdBlack.woff2") format("woff2");
}

$btn-font-family: AvenirLTStdHeavy;

.fw-roman {
  font-family: AvenirLTStdRoman;
}

.fw-medium {
  font-family: AvenirLTStdMedium;
}

.fw-bold {
  font-family: AvenirLTStdHeavy;
}

.fw-black {
  font-family: AvenirLTStdBlack;
}

.btn {
  font-family: $btn-font-family;
  &.btn-primary {
    color: white;
  }
}

header {
  background-color: white;
  box-shadow: 0px 4px 25px #ddfff6;
  position: relative;
  z-index: 4;
  .navbar-nav {
    .nav-item {
      padding: 24px 18px;
      .nav-link {
        border-bottom: 5px solid transparent;
        &.active {
          font-family: AvenirLTStdBlack;
          border-bottom-color: $accent;
        }
      }
    }
  }
}

.home {
  min-height: 707px;
  background-image: url("../images/home/half_circle.svg"),
    url("../images/home/rect.png"), url("../images/home/rect.png"),
    url("../images/home/percentage.png"), url("../images/home/arrow.png"),
    url("../images/home/main.svg");
  background-size: 139px 279px, 283px 522px, 283px 522px, 50px 119px,
    234px 180px, 100%;
  background-position: top left -30px, left 189px top, bottom 83px right 63px,
    bottom 40% left 40%, top 26px right 6px, center;
  background-repeat: no-repeat;
}

.faqs{
  background-color: #DDFFF6;
  overflow: hidden;
}